<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>litl.io - Create Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Create litl.io Entry</h2>

            <div>
                <form class="form-horizontal" th:object="${litlioEntry}" th:action="@{/entry}" method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">URL to Shorten:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{LongURL}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

</body>
</html>